/* Containerul principal care ține ambele pagini */
.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #282c34; /* Sau culoarea ta de fundal */
  overflow: hidden;
}


.fade-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  display: flex;       /* Asigură centrarea conținutului */
  justify-content: center;
  align-items: center;
  background-color: #282c34; /* Asigură un fundal, ca să nu fie transparent */
}

.fade-layer.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 100; /* STRATUL DE SUS - Trebuie să fie mare! */
}

.fade-layer.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 0;   /* STRATUL DE JOS */
}